body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
    width: calc(100vw - 140px) !important;
  }
}

/*
添加这个是为了让main content的padding-left和padding-right都为16px
*/
.wd-main-content-offset {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 100vh;
}

#wd-courses {
  width: 100%;
}

#wd-courses .d-flex {
  width: 100%;
}

#wd-courses .flex-fill {
  width: 100%;
  max-width: 100%;
}

#wd-assignments .text-secondary {
  color: #6c757d !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}
.wd-assignments {
    border-left: 3px solid green !important;
}

/* 选中状态（active） */
.list-group.wd > .list-group-item.active {
  color: black !important;              /* 字体黑色 */
  background-color: white !important;   /* 背景白色（去掉默认蓝色） */
  border-left: 3px solid black !important; /* 左边黑色边框 */
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

/* 非选中状态 */
.list-group.wd > .list-group-item {
  color: red;                /* 红色字体 */
  border-left: none;         /* 没有左边框 */
  /* 只保留左边黑线 */
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}